{%- if section.settings.image != blank
  or section.settings.pre_heading_text != blank
  or section.settings.heading_text != blank
  or section.settings.main_text != blank
-%}
  <div class="bg-white px-0 sm:px-6 {{ section.settings.section_spacing }}">
    <div class="max-w-screen-xl mx-auto">
      <div class="sm:grid grid-cols-1 sm:grid-cols-12 gap-0 sm:gap-10 md:gap-18 lg:gap-20">
        <div class="col-span-7">
          {%- if section.settings.image != blank -%}
            <img
              src="{{ section.settings.image | image_url }}"
              class="w-full mb-8 md:mb-0"
              alt="{{ section.settings.image.alt }}"
              loading="lazy"
            >
          {%- endif -%}
        </div>

        <div class="col-span-5 px-6 sm:px-0 md:flex md:items-end md:mb-12">
          <div class="max-w-[23.125rem]">
            {%- if section.settings.pre_heading_text != blank -%}
              <div class="font-secondary leading-secondary-font text-2xl mb-1">
                {{ section.settings.pre_heading_text }}
              </div>
            {%- endif -%}
            {%- if section.settings.heading_text != blank -%}
              <div class="font-primary leading-primary-font uppercase text-10xl">
                {{ section.settings.heading_text }}
              </div>
            {%- endif -%}

            {%- if section.settings.main_text != blank -%}
              <div class="font-body mt-6">
                {{ section.settings.main_text }}
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Product Content Section 3",
  "class": "product-content-section-3",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "pre_heading_text",
      "label": "Pre heading text"
    },
    {
      "type": "text",
      "id": "heading_text",
      "label": "Heading text"
    },
    {
      "type": "text",
      "id": "main_text",
      "label": "Main Text"
    },
    {
      "type": "select",
      "id": "section_spacing",
      "label": "Section Spacing",
      "info": "Spacing will be added to the bottom of the section",
      "options": [
        {
          "value": "mb-0",
          "label": "None - 0px"
        },
        {
          "value": "mb-1 md:mb-2",
          "label": "XXSmall - Mobile: 4px | Desktop: 8px"
        },
        {
          "value": "mb-2 md:mb-4",
          "label": "XSmall - Mobile: 8px | Desktop: 16px"
        },
        {
          "value": "mb-4 md:mb-8",
          "label": "Small - Mobile: 16px | Desktop: 32px"
        },
        {
          "value": "mb-8 md:mb-16",
          "label": "Medium - Mobile: 32px | Desktop: 64px"
        },
        {
          "value": "mb-12 md:mb-28",
          "label": "Large - Mobile: 48px | Desktop: 112px"
        },
        {
          "value": "mb-20 md:mb-36",
          "label": "XLarge - Mobile: 80px | Desktop: 144px"
        },
        {
          "value": "mb-24 md:mb-44",
          "label": "XXL - Mobile: 96px | Desktop: 176px"
        }
      ],
      "default": "mb-0"
    }
  ],
  "presets": [
    {
      "name": "Product Content Section 3"
    }
  ],
  "enabled_on": {
    "templates": ["product"]
  }
}
{% endschema %}
