{%- if section.settings.pre_heading_text != blank
  or section.settings.heading_text != blank
  or section.settings.sub_heading_text != blank
  or section.settings.main_image != blank
  or section.settings.small_image != blank
  or section.settings.main_text != blank
-%}
  <div class="md:px-6 {{ section.settings.section_spacing }}">
    <div class="max-w-screen-xl mx-auto">
      <div class="grid grid-cols-1 sm:grid-cols-12 gap-0 sm:gap-10 md:gap-18 lg:gap-22">
        <div class="sm:col-span-7 md:col-span-8">
          {%- if section.settings.pre_heading_text != blank
            or section.settings.heading_text != blank
            or section.settings.sub_heading_text != blank
          -%}
            <div class="px-6 md:px-0">
              {%- if section.settings.pre_heading_text != blank -%}
                <div class="font-secondary leading-secondary-font text-2xl mb-4">
                  {{ section.settings.pre_heading_text }}
                </div>
              {%- endif -%}
              {%- if section.settings.heading_text != blank -%}
                <div class="font-primary leading-primary-font uppercase text-10xl max-w-[23.125rem]">
                  {{ section.settings.heading_text }}
                </div>
              {%- endif -%}
              {%- if section.settings.sub_heading_text != blank -%}
                <div class="font-secondary leading-secondary-font text-2xl mt-4">
                  {{ section.settings.sub_heading_text }}
                </div>
              {%- endif -%}
            </div>
          {%- endif -%}

          {%- if section.settings.main_image != blank -%}
            <img
              src="{{ section.settings.main_image | image_url }}"
              class="w-full {% if section.settings.pre_heading_text != blank or section.settings.heading_text != blank or section.settings.sub_heading_text != blank %}mt-10{% endif %} md:mt-12"
              alt="{{ section.settings.main_image.alt }}"
              loading="lazy"
            >
          {%- endif -%}
        </div>

        <div class="sm:col-span-5 md:col-span-4 mt-10 {% if section.settings.pre_heading_text != blank or section.settings.heading_text != blank or section.settings.sub_heading_text != blank %}md:mt-32{% endif %} pl-20 sm:pl-0">
          {%- if section.settings.small_image != blank -%}
            <img
              src="{{ section.settings.small_image | image_url }}"
              class="w-full mb-8 md:mb-10"
              alt="{{ section.settings.small_image.alt }}"
              loading="lazy"
            >
          {%- endif -%}

          {%- if section.settings.main_text != blank -%}
            <div class="font-body pr-4 md:pr-0">
              {{ section.settings.main_text }}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Product Content Section 1",
  "class": "product-content-section-1",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "pre_heading_text",
      "label": "Pre heading text"
    },
    {
      "type": "text",
      "id": "heading_text",
      "label": "Heading text"
    },
    {
      "type": "text",
      "id": "sub_heading_text",
      "label": "Sub heading text"
    },
    {
      "type": "image_picker",
      "id": "main_image",
      "label": "Main Image"
    },
    {
      "type": "image_picker",
      "id": "small_image",
      "label": "Small Image"
    },
    {
      "type": "text",
      "id": "main_text",
      "label": "Main Text"
    },
    {
      "type": "select",
      "id": "section_spacing",
      "label": "Section Spacing",
      "info": "Spacing will be added to the bottom of the section",
      "options": [
        {
          "value": "mb-0",
          "label": "None - 0px"
        },
        {
          "value": "mb-1 md:mb-2",
          "label": "XXSmall - Mobile: 4px | Desktop: 8px"
        },
        {
          "value": "mb-2 md:mb-4",
          "label": "XSmall - Mobile: 8px | Desktop: 16px"
        },
        {
          "value": "mb-4 md:mb-8",
          "label": "Small - Mobile: 16px | Desktop: 32px"
        },
        {
          "value": "mb-8 md:mb-16",
          "label": "Medium - Mobile: 32px | Desktop: 64px"
        },
        {
          "value": "mb-12 md:mb-28",
          "label": "Large - Mobile: 48px | Desktop: 112px"
        },
        {
          "value": "mb-20 md:mb-36",
          "label": "XLarge - Mobile: 80px | Desktop: 144px"
        },
        {
          "value": "mb-24 md:mb-44",
          "label": "XXL - Mobile: 96px | Desktop: 176px"
        }
      ],
      "default": "mb-0"
    }
  ],
  "presets": [
    {
      "name": "Product Content Section 1"
    }
  ],
  "enabled_on": {
    "templates": ["product"]
  }
}
{% endschema %}
